// COLORS
$color-brand-1: #4c6454;
$color-brand-2: #99c6a8;
$color-brand-2-1: rgba(153, 198, 168, 0.9);
$color-brand-3: #c7c849;
$color-brand-4: #baadc5;
$color-brand-5: #f8d8d1;
$color-brand-6: #d68272;
$color-brand-6-1: rgb(219, 104, 81);
$color-brand-7: #f6f1e4;
$color-brand-7-1: #f8eed5;

$color-black-1: #000000;
$color-black-2: rgba(0, 0, 0, 0.65);

$color-gray-1: #47525e;
$color-gray-1-1: rgba(71, 82, 94, 0.85);
$color-gray-2: #343f4b;
$color-gray-2-1: rgba(52, 63, 75, 0.85);
$color-gray-3: #8492a6;
$color-gray-3-1: rgba(132, 146, 166, 0.7);
$color-gray-4: #979797;
$color-gray-5: #e0e0e0;
$color-gray-6: #86898c;
$color-gray-7: #e8e8e8;

$color-white-0: #fff;
$color-white-0-1: rgba(255, 255, 255, 0.8);
$color-white-1: #fafafa;
$color-white-2: #fefefe;
$color-white-3: #f7f9fd;
$color-white-4: #f8f9fa;
$color-white-5: #d6d6d6;
$color-white-6: #f1f1f1;
$color-white-7: #d4d4d4;

$color-second-1: #bf0e00;

$color-unset: rgba(0, 0, 0, 0);

$z-nivel--1: -1;
$z-nivel-0: 0;
$z-nivel-1: 1;
$z-nivel-2: 2;
$z-nivel-50: 50;
$z-nivel-100: 100;

$resp-cell-max: 767px;
