
.sty-app{
    .sty-app-cont{
        position: relative;

        &.color-1{
            background-color: $color-brand-7;
        }
        &.color-2{
            background-color: $color-brand-6;
        }
        &.color-3{
            background-color: $color-brand-4;
        }
        &.color-4{
            background-color: $color-brand-3;
        }
    }

    .sty-cont-app{
        position: absolute;
        width: 45em;
        height: auto;
        bottom: 0;
        img{
            width: 100%;
            height: auto;
        }
        &.sty-right{
            right: 0;
        }
        &.sty-left{
            left: 0;
        }
    }

    .sty-cont-app-1-1{
        position: relative;
        .sty-icon{
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: $z-nivel-2;
            width: 60em;
            height: 60em;
            margin: auto;
            img{
                opacity: 0.5;
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media (max-width: $resp-cell-max){
    .sty-app{
        &.sty-1{
            height: 98em;
        }
        &.sty-2{
            height: 98em;
        }
        &.sty-3{
            height: 98em;
        }
        &.sty-4{
            height: 98em;
        }
        .class-height-b-3{
            height: 48em;
        }
        .sty-cont-app{
            width: 40em;
        }
        
        .sty-courtain-b-1{
            z-index: $z-nivel-1;   
        }
        .sty-cont-movil-1{
            z-index: $z-nivel-0;   
            width: 50em;
            right: -25em;
        }
        .sty-cont-info{
            z-index: $z-nivel-1;   
        }
    }
}