@import "../../../../../scss/variables";
@import "../../../../../scss/components/fonts";

.content {
    position: relative;
    cursor: pointer;
    margin-bottom: 2.5em;
    .pic {
        background-color: $color-gray-5;
        border-radius: 1em;
        width: 100%;
        height: 20em;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        .tag {
            color: $color-brand-6;
        }
    }
    .tag {
        @extend #sty-font-n-27;
        width: 100%;
        color: $color-gray-1;
        text-align: center;
        margin-top: 0.4em;
        transition: 0.2s background-color ease;
    }
    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .name {
        display: inline-block;
    }
}
