/* Footer */
.sty-footer{
    a{
        color: $color-brand-7;
        transition: 0.2s color ease;
        &:hover{
            color: $color-brand-6;
            svg{
                path, polygon{
                    fill: $color-brand-6-1 !important;
                }
            }
        }
    }
    .sty-cont-f-1{
        @extend #sty-font-n-25;
        width: 100%;
        padding-top: 2em;
        padding-bottom: 3em;
        background-color: $color-brand-1;
        color: $color-brand-7;
        .sty-logo-1{
            width: 12em;
            height: auto;
            margin-bottom: 1em;
            img{
                width: 100%;
                height: auto;
            }
        }
        .sty-cont-f-1-1{
            margin-top: 4em;
        }
        .sty-cont-f-1-2{
            margin-top: 4em;
        }
        .sty-cont-contact{
            margin-bottom: 1.5em;
            .sty-icon{
                display: inline-block;
                margin-right: 1em;
                width: 1.5em;
                height: 1.5em;
                path, polygon{
                    fill: $color-brand-7;
                    transition: 0.2s fill ease;
                }
            }
            .sty-text{
                display: inline-block;
            }
        }

        .sty-cont-social{
            display: inline-block;
            margin-left: 1em;
        }
        .sty-social{
            width: 3.2em;
            height: 3.2em;
            border-radius: 10em;
            border: 0.15em solid $color-brand-7;
            transition: 0.2s border-color ease;
            &:hover{
               border-color: $color-brand-6; 
            }
            svg{
                width: 1.6em;
                height: 1.6em;
                path, polygon{
                    fill: $color-brand-7;
                    transition: 0.2s fill ease;
                }
            }
        }
    }
    .sty-cont-f-2{
        position: relative;
        background-color: $color-brand-7;
        height: 5.5em;
        .sty-cont-links-2{
            @extend #sty-font-n-25;
            position: absolute;
            color: $color-brand-1;
            right: 8em;
            top: 0.7em;
            .sty-link{
                color: $color-brand-1;
                transition:0.2s color ease;
            }
            .sty-link:hover{
                color: $color-brand-6;
            }
        }
    }
    .sty-content-up{
        position: fixed;
        width: 8.5em;
        height: 8.5em;
        bottom: 1.5em;
        right: 4em;
        z-index: $z-nivel-2;
        .sty-circle{
            cursor: pointer;
            width: 7.5em;
            height: 7.5em;
            background-color: $color-brand-6;
            border-radius: 6em;
            transition: 0.1s width ease, 0.1s height ease, 0.1s color ease;
            svg{
                width: 3em;
                height: 3em;
                transition: 0.1s margin-bottom ease;
                path, polygon{
                    fill: $color-white-0;
                }
            }
            &:hover{
                width: 8em;
                height: 8em;
                background-color: $color-brand-6-1;
                svg{
                    margin-bottom: 1em;
                }
            }
        }
    }
}

@media (max-width: $resp-cell-max){
    .sty-footer{
        .sty-cont-f-1{
            padding-top: 1em;
            padding-bottom: 3em;
        }
    }
}