/****/
.style-formElement{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.icon-inputError{
    @extend #sty-font-l-14;
    position: absolute;
    top: 1em;
    left: 1em;
    color: rgb(206, 50, 50);
    svg{
        width: 1.1em;
        height: 1.1em;
    }
}

.icon-inputSuccess{
    @extend #sty-font-l-14;
    position: absolute;
    top: 1.1em;
    left: 1em;
    color: rgb(24, 196, 24);
    svg{
        width: 1.1em;
        height: 1.1em;
    }
}

.style-formElement input,
.style-formElement textarea{
    @extend #sty-font-l-14;
    width: 100%;
    border: solid 1px #e0e5f0;
    border-radius: 0.3em;
    padding: 1em 1em;
    transition: 0.2s all ease;
}

.style-formElement .placeholder {
    position: absolute;
    background-color: white;
}

.style-formElement input.validationError,
.style-formElement textarea.validationError{
    padding-left: 2.5em;
    border-color: rgb(206, 50, 50);
}

.style-formElement input.validationSuccess,
.style-formElement textarea.validationSuccess{
    padding-left: 2.5em;
    border-color: rgb(24, 196, 24);
}

.style-formElement input::placeholder,
.style-formElement textarea::placeholder{
    color: #bbbfc9;
}

.style-formButton button{
    @extend #sty-font-n-14;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    color: #fff;
    width: 100%;
    background-color: #434A7C;
    border: unset;
    border-radius: 10em;
    transition: all 0.2s ease;
    margin-top: 2em;
}

.style-formButton button:hover{
    background-color: rgb(17, 185, 198);
    border: unset;
}