/* Nav */
#id-contItems .slider{
    display:inline-block;
    width:100%;
    height:4px;
    border-radius:0px;
    background-color:#2255ce;
    position:absolute;
    z-index: $z-nivel-50;
    bottom:-4px;
    left: 0;
    transition:all .25s ease-out;
}

/*Parallax*/
.react-parallax-content{
    width: 100%;
}